.tooltipster-content span {
	display: block
}

.tooltipster-content .title {
	font-weight: 700;
	margin-bottom: 20px
}

.tooltipster-content .unlockedby {
	display: small;
	color: #ccc
}

body {
	background-color: #000;
	font-family: Arial,sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-shadow: 0 0 5px #000
}

a,body {
	color: #fff
}

a {
	text-decoration: none
}

h1 {
	left: 50%;
	margin: 4px 0 20px -461px;
	position: absolute;
	line-height: 30px
}

h1,h2 {
	font-size: 16px
}

h2 {
	margin: 4px 0 12px
}

.disabled {
	display: none
}

#achievements {
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("https://i.imgur.com/CL2yHJG.jpg") top;
	background-size: cover;
	border: 1px solid #333;
	border-radius: 3px;
	left: 50%;
	margin: 40px 0 20px -481px;
	padding: 20px;
	position: absolute;
	width: 962px;
	min-height: 140px
}

#achievements a img {
	height: 64px;
	width: 64px;
	margin-right: 10px
}

label {
	display: block;
	margin-bottom: 10px
}

#steamIdInput {
	background: none repeat scroll 0 0 hsla(0,0%,100%,.2);
	border: 1px solid #666;
	color: #fff;
	font-weight: 700;
	width: 150px;
	border-radius: 3px;
	padding: 3px;
	margin-right: 5px
}

#steamlogin {
	position: relative;
	top: 7px;
	margin-left: 5px
}

ul {
	cursor: pointer;
	display: block;
	float: right;
	margin: 0;
	text-align: center;
	width: 150px;
	list-style: outside none none;
	height: 20px
}

li {
	background: none repeat scroll 0 0 hsla(0,0%,100%,.1);
	border: 1px solid #333;
	color: #fff;
	font-weight: 700;
	width: 142px;
	border-radius: 3px;
	padding: 3px;
	margin-bottom: 13px
}

.active {
	background-color: rgba(0,255,0,.3)
}

#login form {
	display: inline;
	height: 20px
}

#login {
	left: 50%;
	margin: 0 0 20px 158px;
	position: absolute;
	line-height: 30px
}

#help {
	display: none;
	color: #ff0
}

#help a {
	color: #ff0;
	text-decoration: underline
}
